@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background: #000;
}

html {
  font-size: 14px;
  line-height: 24px;
}

:root {
  --color-black-100: #000000ff;
  --color-black-12: #0000001e;
  --color-black-16: #00000028;
  --color-black-20: #00000033;
  --color-black-24: #0000003d;
  --color-black-32: #00000051;
  --color-black-4: #0000000a;
  --color-black-48: #0000007a;
  --color-black-64: #000000a3;
  --color-black-7: #00000011;
  --color-black-76: #000000c1;
  --color-black-88: #000000e0;
  --color-danger-100: #ffe1e1ff;
  --color-danger-200: #ffe0e0ff;
  --color-danger-25: #fff8f8ff;
  --color-danger-300: #ffa9a9ff;
  --color-danger-400: #ff7373ff;
  --color-danger-50: #fef2f2ff;
  --color-danger-500: #f03d3dff;
  --color-danger-600: #de2424ff;
  --color-danger-700: #ba1b1bff;
  --color-danger-800: #751d1dff;
  --color-danger-900: #3f1e1eff;
  --color-danger-950: #301c1cff;
  --color-dark-100: #636363ff;
  --color-dark-200: #5a5a5aff;
  --color-dark-25: #777777ff;
  --color-dark-300: #505050ff;
  --color-dark-400: #464646ff;
  --color-dark-50: #6d6d6dff;
  --color-dark-500: #3d3d3dff;
  --color-dark-600: #333333ff;
  --color-dark-700: #292929ff;
  --color-dark-800: #1f1f1fff;
  --color-dark-900: #131313ff;
  --color-dark-950: #0c0c0cff;
  --color-gray-100: #ececedff;
  --color-gray-200: #e2e2e4ff;
  --color-gray-25: #f8f8f8ff;
  --color-gray-300: #d9d8dcff;
  --color-gray-400: #c6c5c9ff;
  --color-gray-50: #f3f3f4ff;
  --color-gray-500: #b3b1b8ff;
  --color-gray-600: #8c8a94ff;
  --color-gray-700: #666471ff;
  --color-gray-800: #494656ff;
  --color-gray-900: #2d293bff;
  --color-gray-950: #100c20ff;
  --color-info-100: #d7f5feff;
  --color-info-200: #b4effdff;
  --color-info-25: #f0fdffff;
  --color-info-300: #88e7fcff;
  --color-info-400: #4cd2faff;
  --color-info-50: #e4fcffff;
  --color-info-500: #0babfbff;
  --color-info-600: #0b92f9ff;
  --color-info-700: #067bf9ff;
  --color-info-800: #0d5abfff;
  --color-info-900: #193d69ff;
  --color-info-950: #10284dff;
  --color-primary-100: #ebe9feff;
  --color-primary-200: #d9d6feff;
  --color-primary-25: #f8f8ffff;
  --color-primary-300: #bdb5fdff;
  --color-primary-400: #907ef9ff;
  --color-primary-50: #f4f3ffff;
  --color-primary-500: #7352f6ff;
  --color-primary-600: #6939eeff;
  --color-primary-700: #5a27daff;
  --color-primary-800: #4c21b6ff;
  --color-primary-900: #2d136cff;
  --color-primary-950: #1c0a53ff;
  --color-secondary-100: #ffe6fdff;
  --color-secondary-200: #ffccfaff;
  --color-secondary-25: #fff8feff;
  --color-secondary-300: #ffa3f2ff;
  --color-secondary-400: #ff6de9ff;
  --color-secondary-50: #fff3fdff;
  --color-secondary-500: #ff2ee7ff;
  --color-secondary-600: #e316c7ff;
  --color-secondary-700: #bd0ea2ff;
  --color-secondary-800: #9a0e83ff;
  --color-secondary-900: #441d3dff;
  --color-secondary-950: #300e29ff;
  --color-success-100: #cfffe3ff;
  --color-success-200: #affad0ff;
  --color-success-25: #f0fff6ff;
  --color-success-300: #77feb3ff;
  --color-success-400: #2ae77fff;
  --color-success-50: #e3ffeeff;
  --color-success-500: #0ed065ff;
  --color-success-600: #02b151ff;
  --color-success-700: #058f43ff;
  --color-success-800: #0a713aff;
  --color-success-900: #134228ff;
  --color-success-950: #11301fff;
  --color-transparent: #ffffff00;
  --color-warning-100: #fffbc5ff;
  --color-warning-200: #fff787ff;
  --color-warning-25: #fffeedff;
  --color-warning-300: #ffed48ff;
  --color-warning-400: #ffde1eff;
  --color-warning-50: #fffddcff;
  --color-warning-500: #fcbf04ff;
  --color-warning-600: #e09400ff;
  --color-warning-700: #b96904ff;
  --color-warning-800: #795520ff;
  --color-warning-900: #483d19ff;
  --color-warning-950: #2c2614ff;
  --color-white-100: #ffffffff;
  --color-white-12: #ffffff1e;
  --color-white-16: #ffffff28;
  --color-white-20: #ffffff33;
  --color-white-24: #ffffff3d;
  --color-white-32: #ffffff51;
  --color-white-4: #ffffff0a;
  --color-white-48: #ffffff7a;
  --color-white-64: #ffffffa3;
  --color-white-7: #ffffff11;
  --color-white-76: #ffffffc1;
  --color-white-88: #ffffffe0;

  --effect-shadow-e0: var(--color-transparent);
  --effect-shadow-e1: var(--color-black-7);
  --effect-shadow-e2: var(--color-black-12);
  --effect-shadow-e3: var(--color-black-16);

  --outline-base-em: var(--color-gray-50);
  --outline-black: var(--color-black-100);
  --outline-danger-base-em: var(--color-danger-100);
  --outline-danger-high-em: var(--color-danger-500);
  --outline-danger-low-em: var(--color-danger-200);
  --outline-danger-med-em: var(--color-danger-400);
  --outline-high-em: var(--color-gray-300);
  --outline-info-base-em: var(--color-info-100);
  --outline-info-high-em: var(--color-info-500);
  --outline-info-low-em: var(--color-info-200);
  --outline-info-med-em: var(--color-info-400);
  --outline-low-em: var(--color-gray-100);
  --outline-med-em: var(--color-gray-200);
  --outline-neutral-alt-black: var(--color-black-100);
  --outline-neutral-alt-white: var(--color-white-100);
  --outline-none: var(--color-transparent);
  --outline-primary-base-em: var(--color-primary-100);
  --outline-primary-high-em: var(--color-primary-500);
  --outline-primary-low-em: var(--color-primary-200);
  --outline-primary-med-em: var(--color-primary-400);
  --outline-success-base-em: var(--color-success-100);
  --outline-success-high-em: var(--color-success-500);
  --outline-success-low-em: var(--color-success-200);
  --outline-success-med-em: var(--color-success-400);
  --outline-warning-base-em: var(--color-warning-100);
  --outline-warning-high-em: var(--color-warning-500);
  --outline-warning-low-em: var(--color-warning-200);
  --outline-warning-med-em: var(--color-warning-400);
  --outline-white: var(--color-white-100);

  --surface-black: var(--color-black-100);
  --surface-danger-accent-1: var(--color-danger-50);
  --surface-danger-accent-2: var(--color-danger-200);
  --surface-danger-accent-3: var(--color-danger-400);
  --surface-danger-main: var(--color-danger-500);
  --surface-disabled-base-em: var(--color-gray-100);
  --surface-disabled-high-em: var(--color-gray-500);
  --surface-disabled-low-em: var(--color-gray-200);
  --surface-disabled-med-em: var(--color-gray-400);
  --surface-info-accent-1: var(--color-info-50);
  --surface-info-accent-2: var(--color-info-200);
  --surface-info-accent-3: var(--color-info-400);
  --surface-info-main: var(--color-info-500);
  --surface-neutral-alt-black: var(--color-black-100);
  --surface-neutral-alt-white: var(--color-white-100);
  --surface-primary-accent-1: var(--color-primary-50);
  --surface-primary-accent-2: var(--color-primary-200);
  --surface-primary-accent-3: var(--color-primary-400);
  --surface-primary-main: var(--color-primary-500);
  --surface-secondary-accent-1: var(--color-secondary-50);
  --surface-secondary-accent-2: var(--color-secondary-200);
  --surface-secondary-accent-3: var(--color-secondary-400);
  --surface-secondary-main: var(--color-secondary-500);
  --surface-special-bg-neutral: var(--color-white-100);
  --surface-success-accent-1: var(--color-success-50);
  --surface-success-accent-2: var(--color-success-200);
  --surface-success-accent-3: var(--color-success-400);
  --surface-success-main: var(--color-success-500);
  --surface-surface-0: var(--color-white-100);
  --surface-surface-1: var(--color-gray-25);
  --surface-surface-2: var(--color-gray-50);
  --surface-surface-3: var(--color-gray-100);
  --surface-surface-4: var(--color-gray-200);
  --surface-surface-bg: var(--color-gray-25);
  --surface-surface-high-em: var(--color-gray-900);
  --surface-warning-accent-1: var(--color-warning-50);
  --surface-warning-accent-2: var(--color-warning-200);
  --surface-warning-accent-3: var(--color-warning-400);
  --surface-warning-main: var(--color-warning-500);
  --surface-white: var(--color-white-100);

  --text-black: var(--color-black-100);
  --text-danger-em: var(--color-danger-600);
  --text-danger-main: var(--color-danger-500);
  --text-disabled: var(--color-gray-500);
  --text-high-em: var(--color-gray-950);
  --text-info-em: var(--color-info-600);
  --text-info-main: var(--color-info-500);
  --text-low-em: var(--color-gray-600);
  --text-med-em: var(--color-gray-800);
  --text-neutral-alt-black: var(--color-black-100);
  --text-neutral-alt-white: var(--color-white-100);
  --text-primary-base: var(--color-primary-100);
  --text-primary-em: var(--color-primary-600);
  --text-primary-main: var(--color-primary-500);
  --text-primary-med: var(--color-primary-300);
  --text-secondary-em: var(--color-secondary-600);
  --text-secondary-main: var(--color-secondary-500);
  --text-success-em: var(--color-success-600);
  --text-success-main: var(--color-success-500);
  --text-white: var(--color-white-100);
}

[data-theme="dark"] {
  --effect-shadow-e0: var(--color-transparent);
  --effect-shadow-e1: var(--color-black-20);
  --effect-shadow-e2: var(--color-black-32);
  --effect-shadow-e3: var(--color-black-48);

  --outline-base-em: var(--color-white-7);
  --outline-low-em: var(--color-white-12);
  --outline-med-em: var(--color-white-20);
  --outline-high-em: var(--color-white-32);
  --outline-none: var(--color-transparent);
  --outline-black: var(--color-black-100);
  --outline-white: var(--color-white-100);
  --outline-neutral-alt-black: var(--color-white-100);
  --outline-neutral-alt-white: var(--color-black-100);
  --outline-danger-base-em: var(--color-danger-900);
  --outline-danger-high-em: var(--color-danger-300);
  --outline-danger-low-em: var(--color-danger-800);
  --outline-danger-med-em: var(--color-danger-600);
  --outline-info-base-em: var(--color-info-900);
  --outline-info-high-em: var(--color-info-300);
  --outline-info-low-em: var(--color-info-800);
  --outline-info-med-em: var(--color-info-600);
  --outline-primary-base-em: var(--color-primary-900);
  --outline-primary-high-em: var(--color-primary-300);
  --outline-primary-low-em: var(--color-primary-800);
  --outline-primary-med-em: var(--color-primary-600);
  --outline-success-base-em: var(--color-success-900);
  --outline-success-high-em: var(--color-success-300);
  --outline-success-low-em: var(--color-success-800);
  --outline-success-med-em: var(--color-success-600);
  --outline-warning-base-em: var(--color-warning-900);
  --outline-warning-high-em: var(--color-warning-300);
  --outline-warning-low-em: var(--color-warning-800);
  --outline-warning-med-em: var(--color-warning-600);

  --surface-black: var(--color-black-100);
  --surface-white: var(--color-white-100);
  --surface-disabled-base-em: var(--color-white-16);
  --surface-disabled-low-em: var(--color-white-20);
  --surface-disabled-med-em: var(--color-white-24);
  --surface-disabled-high-em: var(--color-white-32);
  --surface-surface-0: var(--color-dark-950);
  --surface-surface-1: var(--color-dark-900);
  --surface-surface-2: var(--color-dark-800);
  --surface-surface-3: var(--color-dark-700);
  --surface-surface-4: var(--color-dark-600);
  --surface-surface-bg: var(--color-black-100);
  --surface-surface-high-em: var(--color-white-100);
  --surface-special-bg-neutral: var(--color-dark-900);
  --surface-danger-accent-1: var(--color-danger-950);
  --surface-danger-accent-2: var(--color-danger-900);
  --surface-danger-accent-3: var(--color-danger-600);
  --surface-danger-main: var(--color-danger-500);
  --surface-info-accent-1: var(--color-info-950);
  --surface-info-accent-2: var(--color-info-900);
  --surface-info-accent-3: var(--color-info-600);
  --surface-info-main: var(--color-info-500);
  --surface-neutral-alt-black: var(--color-white-100);
  --surface-neutral-alt-white: var(--color-black-100);
  --surface-primary-accent-1: var(--color-primary-950);
  --surface-primary-accent-2: var(--color-primary-900);
  --surface-primary-accent-3: var(--color-primary-600);
  --surface-primary-main: var(--color-primary-500);
  --surface-secondary-accent-1: var(--color-secondary-950);
  --surface-secondary-accent-2: var(--color-secondary-900);
  --surface-secondary-accent-3: var(--color-secondary-600);
  --surface-secondary-main: var(--color-secondary-500);
  --surface-success-accent-1: var(--color-success-950);
  --surface-success-accent-2: var(--color-success-900);
  --surface-success-accent-3: var(--color-success-600);
  --surface-success-main: var(--color-success-500);
  --surface-warning-accent-1: var(--color-warning-950);
  --surface-warning-accent-2: var(--color-warning-900);
  --surface-warning-accent-3: var(--color-warning-600);
  --surface-warning-main: var(--color-warning-500);

  --text-black: var(--color-black-100);
  --text-white: var(--color-white-100);
  --text-disabled: var(--color-white-32);
  --text-low-em: var(--color-white-48);
  --text-med-em: var(--color-white-76);
  --text-high-em: var(--color-white-100);
  --text-neutral-alt-black: var(--color-white-100);
  --text-neutral-alt-white: var(--color-black-100);
  --text-danger-em: var(--color-danger-300);
  --text-danger-main: var(--color-danger-400);
  --text-info-em: var(--color-info-300);
  --text-info-main: var(--color-info-400);
  --text-primary-base: var(--color-primary-950);
  --text-primary-em: var(--color-primary-300);
  --text-primary-main: var(--color-primary-400);
  --text-primary-med: var(--color-primary-700);
  --text-secondary-em: var(--color-secondary-300);
  --text-secondary-main: var(--color-secondary-400);
  --text-success-em: var(--color-success-300);
  --text-success-main: var(--color-success-400);
}
